/* Homepage Header & Hero */
.header-navbar-list > :nth-child(1) {
  border-bottom: solid var(--border-gray) 1px;
}
@media screen and (max-width: 1200px) {
  /* Homepage Header & Hero */
}
@media screen and (max-width: 768px) {
  /* Homepage Header & Hero */
}
#flashSales{
  display: flex;
  gap: 32px;
  max-width: 1200px;
  margin: 0 auto;
}

.f-product-card{
  flex: 1;
}

.f-product-image-container{
  width: 100%;
  height: 300px;
  position: relative;
}

.f-product-image{
  width: 100%;
  height: 100%;
}

.f-product-discount{
  position: absolute;
  background-color: #DB4444;
  color: white;
  border-radius: 4px;
  padding: 4px 12px;
  left: 10px;
  top: 10px;
}

.f-product-title{
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  margin: 20px 0;
}


.f-product-price-container{
  display: flex;
  gap: 8px;
}

.f-product-new-price{
  color: #DB4444;
  font-weight: bold;
}

.f-product-old-price,
.f-products-comments{
  color: #7c7c7c;
  font-weight: bold;
}

.f-products-ratings{
  display: flex;
  gap: 10px;
}
