.login-section {
  position: relative;
  padding: var(--space-128) 0;
}
.login-section-wrapper,
.login-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-container,
.login-container-title,
.login-input-container {
  display: flex;
  flex-direction: column;
}
.login-container-title span,
#forget-password {
  font-weight: var(--fw-400);
}
.login-section-wrapper {
  max-width: var(--max-width);
  margin: auto;
}
.login-container {
  gap: var(--space-32);
}
.login-container-title {
  gap: var(--space-26);
}
.login-container-title h2 {
  font-size: var(--fs-36);
  font-weight: var(--fw-500);
}
.login-container-title span {
  line-height: var(--lh-18);
}
.login-input-container {
  margin-top: var(--space-10);
  gap: var(--space-26);
}
.login-input {
  border: none;
  background: none;
  border-bottom: 1px solid var(--border-gray);
  height: var(--space-44);
  font-size: var(--fs-16);
}
#forget-password {
  color: var(--red);
  text-decoration: none;
}
#forget-password:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .login-section {
    padding: var(--space-128) 0;
  }
  .login-image {
    width: 60%;
  }
  .login-container-title h2 {
    font-size: var(--fs-32);
  }
  .login-container-title span,
  #forget-password {
    font-size: var(--fs-14);
  }
  .login-input-container {
    margin-top: var(--space-6);
    gap: var(--space-14);
  }
  .login-input {
    height: var(--space-40);
    font-size: var(--fs-14);
  }
}

@media screen and (max-width: 768px) {
  .login-section {
    padding: var(--space-200) 0 var(--space-128) 0;
    background-color: var(--light-blue);
    text-align: center;
  }
  .login-image {
    display: none;
  }
  .login-container-title h2 {
    font-size: var(--fs-30);
  }
  .login-section-wrapper {
    justify-content: center;
  }
}
